body {
  font-family: Arial, sans-serif;
  font-size: 24px;
  line-height: 160%;
  margin: 0;
  padding: 100px 0px;
  background-color: #f9f9f9;
  color: #333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
}
button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
}

.container {
  max-width: 1440px;
  padding: 30px 150px;
}
.main-title {
  text-align: center;
  margin-bottom: 40px;
}
.description {
  margin-top: 20px;
}
.title-section {
  margin-bottom: 20px;
}
.title-list {
  text-align: center;
  margin-bottom: 20px;
}
.list {
  margin-left: 40px;
}
.item {
  line-height: 50%;
  font-weight: 700;
  font-size: 28px;
}
.table-list {
  line-height: 100%;
  padding-left: 60px;
  margin-bottom: 60px;
}
.pdf-desc {
  padding-left: 60px;
}
.wrapper {
  display: flex;
  gap: 5px;
}
.title-level {
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 40px;
}
.level-desc {
  margin-bottom: 20px;
}
.level-desc-last {
  margin-left: 350px;
}
.list-advantages {
  margin-left: 100px;
}
